<page-wrapper>


  <div title> <i class="pi pi-desktop" style="margin-right: 6px;"></i>Screens</div>

  <div actions>
    <p-button
      label="Add Screen"
      icon="pi pi-plus"
      (onClick)="openAddScreen()"
    />
  </div>

  <grid-table
    [config]="screenConfig"
    [loading]="isLoading"
    [error]="errorMessage"
    (pageChange)="onPage($event)"
    (sortChange)="onSort($event)"
    (filterChange)="onFilter($event)"
  />

</page-wrapper>


<screen-create-edit
  #screenCreateEdit
  [screen]="currentScreen"
  (afterFormClosed)="afterFormClosed($event)"
/>
<screen-operating-hour
  #screenOperatingHour
  [screen]="currentScreen"
  [mode]="'edit'"
/>

<screen-detail
  #screenDetail

/>
<p-toast></p-toast>

<p-confirmDialog></p-confirmDialog>

<router-outlet></router-outlet>