


CREATE TABLE [core].[Tenant](
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [Name] NVARCHAR(200) NOT NULL,
    [TenantCode] NVARCHAR(50) NOT NULL UNIQUE,
    [ContactName] NVARCHAR(150) NULL,
    [ContactEmail] NVARCHAR(255) NOT NULL UNIQUE,
    [ContactPhone] NVARCHAR(50) NULL,
    [Address] NVARCHAR(500) NULL,
    [IsActive] BIT NOT NULL DEFAULT 1,
    [CreatedAt] DATETIME2 NOT NULL DEFAULT GETUTCDATE(),
    [CreatedBy] INT NULL,
    [UpdatedAt] DATETIME2 NULL,
    [UpdatedBy] INT NULL,
    [IsDeleted] BIT NOT NULL DEFAULT 0,
    [DeletedAt] DATETIME2 NULL,
    [DeletedBy] INT NULL
);

CREATE TABLE [core].[User](
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [TenantId] INT NOT NULL,
    [Name] NVARCHAR(200) NOT NULL,
    [Email] NVARCHAR(255) NOT NULL UNIQUE,
    [PasswordHash] NVARCHAR(MAX) NOT NULL,
    [IsAdmin] BIT NOT NULL DEFAULT 0,
    [IsActive] BIT NOT NULL DEFAULT 1,
    [CreatedAt] DATETIME2 NOT NULL DEFAULT GETUTCDATE(),
    [CreatedBy] INT NULL,
    [UpdatedAt] DATETIME2 NULL,
    [UpdatedBy] INT NULL,
    [IsDeleted] BIT NOT NULL DEFAULT 0,
    [DeletedAt] DATETIME2 NULL,
    [DeletedBy] INT NULL,

    FOREIGN KEY (TenantId) REFERENCES [core].[Tenant](Id),
    FOREIGN KEY (CreatedBy) REFERENCES [core].[User](Id),
    FOREIGN KEY (UpdatedBy) REFERENCES [core].[User](Id),
    FOREIGN KEY (DeletedBy) REFERENCES [core].[User](Id)
);




CREATE TABLE [dbo].[Creative](
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [TenantId] INT NOT NULL,
    [Name] NVARCHAR(200) NOT NULL,
    [Url] NVARCHAR(1000) NOT NULL,
    [IsVideo] BIT NOT NULL DEFAULT 0,
    [Extension] NVARCHAR(10) NOT NULL,
    [Resolution] NVARCHAR(50) NULL,
    [Orientation] NVARCHAR(20) NOT NULL DEFAULT 'landscape',
    [DurationSecond] INT NULL,
    [CreatedAt] DATETIME2 NOT NULL DEFAULT GETUTCDATE(),
    [CreatedBy] INT NOT NULL,
    [IsDeleted] BIT NOT NULL DEFAULT 0,
    [DeletedAt] DATETIME2 NULL,
    [DeletedBy] INT NULL,

    FOREIGN KEY (TenantId) REFERENCES [core].[Tenant](Id),
    FOREIGN KEY (CreatedBy) REFERENCES [core].[User](Id),
    FOREIGN KEY (DeletedBy) REFERENCES [core].[User](Id),

    CHECK (DurationSecond IS NULL OR DurationSecond > 0),
    CHECK (Orientation IN ('portrait','landscape'))
);


CREATE TABLE [inv].[Screen](
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [TenantId] INT NOT NULL,
    [Name] NVARCHAR(200) NOT NULL,
    [Location] NVARCHAR(300) NOT NULL,
    [Address] NVARCHAR(500) NULL,
    [Status] NVARCHAR(20) NOT NULL DEFAULT 'active',
    [Resolution] NVARCHAR(50) NULL,
    [Orientation] NVARCHAR(20) NOT NULL DEFAULT 'landscape',
    [CreatedAt] DATETIME2 NOT NULL DEFAULT GETUTCDATE(),
    [CreatedBy] INT NOT NULL,
    [UpdatedAt] DATETIME2 NULL,
    [UpdatedBy] INT NULL,
    [IsDeleted] BIT NOT NULL DEFAULT 0,
    [DeletedAt] DATETIME2 NULL,
    [DeletedBy] INT NULL,
    [MacAddress] NVARCHAR(17) NOT NULL UNIQUE,

    FOREIGN KEY (TenantId) REFERENCES [core].[Tenant](Id),
    FOREIGN KEY (CreatedBy) REFERENCES [core].[User](Id),
    FOREIGN KEY (UpdatedBy) REFERENCES [core].[User](Id),
    FOREIGN KEY (DeletedBy) REFERENCES [core].[User](Id),

    CHECK (Orientation IN ('portrait','landscape')),
    CHECK (Status IN ('active','inactive'))
);


CREATE TABLE [dbo].[Campaign](
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [Name] NVARCHAR(150) NOT NULL,
    [DurationInDays] INT NOT NULL,
    [Status] INT NOT NULL DEFAULT 0,
    [TenantId] INT NOT NULL,
    [Remarks] NVARCHAR(250) NULL,
    [CreatedBy] INT NOT NULL,
    [CreatedAt] DATETIME2 NOT NULL DEFAULT GETUTCDATE(),
    [IsDeleted] BIT NOT NULL DEFAULT 0,
    [DeletedBy] INT NULL,
    [DeletedAt] DATETIME2 NULL,

    FOREIGN KEY (TenantId) REFERENCES [core].[Tenant](Id)
);



CREATE TABLE [dbo].[CampaignCreative](
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [CampaignId] INT NOT NULL,
    [CreativeId] INT NOT NULL,
    [ScreenId] INT NOT NULL,
    [PlayDate] DATE NOT NULL,
    [PlaySequence] INT NOT NULL DEFAULT 0,
    [CreatedBy] INT NOT NULL,
    [CreatedAt] DATETIME2 DEFAULT GETUTCDATE(),
    [UpdatedBy] INT NULL,
    [UpdatedAt] DATETIME2 NULL,
    [IsDeleted] BIT NOT NULL DEFAULT 0,
    [DeletedBy] INT NULL,
    [DeletedAt] DATETIME2 NULL,

    FOREIGN KEY (CampaignId) REFERENCES [dbo].[Campaign](Id),
    FOREIGN KEY (CreativeId) REFERENCES [dbo].[Creative](Id),
    FOREIGN KEY (ScreenId) REFERENCES [inv].[Screen](Id)
);



CREATE TABLE [dbo].[CampaignDate](
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [CampaignId] INT NOT NULL,
    [StartDate] DATETIME2 NOT NULL,
    [EndDate] DATETIME2 NOT NULL,

    FOREIGN KEY (CampaignId) REFERENCES [dbo].[Campaign](Id)
);



CREATE TABLE [dbo].[CampaignScreen](
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [CampaignId] INT NOT NULL,
    [ScreenId] INT NOT NULL,

    FOREIGN KEY (CampaignId) REFERENCES [dbo].[Campaign](Id),
    FOREIGN KEY (ScreenId) REFERENCES [inv].[Screen](Id)
);




CREATE TABLE [inv].[ScreenOperatingHour](
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [ScreenId] INT NOT NULL,
    [DayOfWeek] TINYINT NOT NULL,
    [StartTime] DATETIME NOT NULL,
    [EndTime] DATETIME NOT NULL,
    [AverageAudienceCount] INT NULL,
    [CreatedAt] DATETIME2 NOT NULL DEFAULT GETUTCDATE(),
    [CreatedBy] INT NOT NULL,
    [UpdatedAt] DATETIME2 NULL,
    [UpdatedBy] INT NULL,
    [IsDeleted] BIT NOT NULL DEFAULT 0,
    [DeletedAt] DATETIME2 NULL,
    [DeletedBy] INT NULL,

    FOREIGN KEY (ScreenId) REFERENCES [inv].[Screen](Id),
    FOREIGN KEY (CreatedBy) REFERENCES [core].[User](Id),
    FOREIGN KEY (UpdatedBy) REFERENCES [core].[User](Id),
    FOREIGN KEY (DeletedBy) REFERENCES [core].[User](Id),

    CHECK (StartTime < EndTime),
    CHECK (DayOfWeek BETWEEN 0 AND 6),
    CHECK (AverageAudienceCount IS NULL OR AverageAudienceCount >= 0)
);
