USE [AdzenDooh]
GO
/****** Object:  StoredProcedure [dbo].[CreativeDdl]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CreativeDdl](
@Json NVARCHAR(MAX)
)
AS
	BEGIN 
	SET NOCOUNT ON

	BEGIN TRY 

	DECLARE @TenantId INT = TRY_CAST(JSON_VALUE(@Json,'$.TenantId') AS INT)
	SELECT ISNULL((
            SELECT c.Id,
                   c.[Name]
            FROM dbo.Creative AS c
            WHERE c.TenantId  = @TenantId
              AND c.IsDeleted = 0
             
            ORDER BY c.Name ASC
            FOR JSON PATH
        ), '[]');

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpCampaignCreativeIns]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Manish
-- Created:     2026-05-07
-- Description: Inserts campaign creative assignments
--              for given screens, dates and creatives,
--              validates against campaign, screen, creative
--              and date constraints before persisting.
-- =============================================

/*
DECLARE @Json NVARCHAR(MAX) = N'{
    "CampaignId": 1,
    "CreatedBy":  1,
    "Screens": [
        {
            "ScreenId": 1,
            "PlayDate": "2026-06-01",
            "Creatives": [
                { "CreativeId": 1, "PlaySequence": 1 },
                { "CreativeId": 2, "PlaySequence": 2 }
            ]
        },
        {
            "ScreenId": 2,
            "PlayDate": "2026-06-01",
            "Creatives": [
                { "CreativeId": 1, "PlaySequence": 1 }
            ]
        }
    ]
}';

EXEC dbo.SpCampaignCreativeIns @Json = @Json OUT;
SELECT @Json;
*/

CREATE PROCEDURE [dbo].[SpCampaignCreativeIns]
(
    @Json NVARCHAR(MAX) OUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        -- =============================================
        --  Parse top-level campaign from JSON
        -- =============================================
        CREATE TABLE #Campaign
        (
            CampaignId  INT           NOT NULL,
            CreatedBy   INT           NOT NULL,
            ScreensJson NVARCHAR(MAX) NULL
        );

        INSERT INTO #Campaign
        (
            CampaignId,
            CreatedBy,
            ScreensJson
        )
        SELECT oj.CampaignId,
               oj.CreatedBy,
               oj.Screens
        FROM OPENJSON(@Json)
        WITH (
            CampaignId INT           '$.CampaignId',
            CreatedBy  INT           '$.CreatedBy',
            Screens    NVARCHAR(MAX) '$.Screens' AS JSON
        ) AS oj;

        -- =============================================
        --  Parse screens with their creatives JSON
        -- =============================================
        CREATE TABLE #ScreenCreative
        (
            CampaignId    INT           NOT NULL,
            ScreenId      INT           NOT NULL,
            PlayDate      DATE          NOT NULL,
            CreatedBy     INT           NOT NULL,
            CreativesJson NVARCHAR(MAX) NULL
        );

        INSERT INTO #ScreenCreative
        (
            CampaignId,
            ScreenId,
            PlayDate,
            CreatedBy,
            CreativesJson
        )
        SELECT c.CampaignId,
               oj.ScreenId,
               TRY_CAST(oj.PlayDate AS DATE),
               c.CreatedBy,
               oj.Creatives
        FROM #Campaign AS c
        CROSS APPLY OPENJSON(c.ScreensJson)
        WITH (
            ScreenId  INT           '$.ScreenId',
            PlayDate  NVARCHAR(50)  '$.PlayDate',
            Creatives NVARCHAR(MAX) '$.Creatives' AS JSON
        ) AS oj;

        -- =============================================
        -- Flatten creatives per screen
        -- =============================================
        CREATE TABLE #CampaignCreative
        (
            CampaignId   INT  NOT NULL,
            ScreenId     INT  NOT NULL,
            CreativeId   INT  NOT NULL,
            PlayDate     DATE NOT NULL,
            PlaySequence INT  NOT NULL,
            CreatedBy    INT  NOT NULL
        );

        INSERT INTO #CampaignCreative
        (
            CampaignId,
            ScreenId,
            CreativeId,
            PlayDate,
            PlaySequence,
            CreatedBy
        )
        SELECT sc.CampaignId,
               sc.ScreenId,
               oj.CreativeId,
               sc.PlayDate,
               oj.PlaySequence,
               sc.CreatedBy
        FROM #ScreenCreative AS sc
        CROSS APPLY OPENJSON(sc.CreativesJson)
        WITH (
            CreativeId   INT '$.CreativeId',
            PlaySequence INT '$.PlaySequence'
        ) AS oj;

        -- =============================================
        -- Insert into CampaignCreative table
        -- =============================================
        CREATE TABLE #Inserted
        (
            Id INT NOT NULL
        );

        BEGIN TRANSACTION;

            INSERT INTO dbo.CampaignCreative
            (
                CampaignId,
                CreativeId,
                ScreenId,
                PlayDate,
                PlaySequence,
                CreatedBy,
                CreatedAt
            )
            OUTPUT INSERTED.Id INTO #Inserted (Id)
            SELECT cc.CampaignId,
                   cc.CreativeId,
                   cc.ScreenId,
                   cc.PlayDate,
                   cc.PlaySequence,
                   cc.CreatedBy,
                   GETUTCDATE()
            FROM #CampaignCreative AS cc
            INNER JOIN dbo.Campaign       AS c  ON c.Id          = cc.CampaignId AND c.IsDeleted  = 0
            INNER JOIN dbo.CampaignScreen AS cs ON cs.CampaignId = cc.CampaignId AND cs.ScreenId  = cc.ScreenId
            INNER JOIN dbo.Creative       AS cr ON cr.Id         = cc.CreativeId AND cr.TenantId  = c.TenantId AND cr.IsDeleted = 0
            INNER JOIN dbo.CampaignDate   AS cd ON cd.CampaignId = cc.CampaignId
                   AND cc.PlayDate BETWEEN CAST(cd.StartDate AS DATE) AND CAST(cd.EndDate AS DATE)
            WHERE cc.PlayDate IS NOT NULL;

        COMMIT TRANSACTION;

        -- =============================================
        -- Return inserted records as JSON
        -- =============================================
        SELECT @Json = ISNULL((
            SELECT
                cc.Id            AS CampaignCreativeId,
                cc.CampaignId,
                cc.ScreenId,
                s.[Name]         AS ScreenName,
                cc.CreativeId,
                cr.[Name]        AS CreativeName,
                cc.PlayDate,
                cc.PlaySequence,
                cc.CreatedAt
            FROM #Inserted          AS i
            INNER JOIN dbo.CampaignCreative AS cc ON cc.Id = i.Id
            INNER JOIN inv.Screen           AS s  ON s.Id  = cc.ScreenId  AND s.IsDeleted = 0
            INNER JOIN dbo.Creative         AS cr ON cr.Id = cc.CreativeId AND cr.IsDeleted = 0
            FOR JSON PATH
        ), '[]');

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpCampaignCreativeSel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=====================================================================
Author      : Manish
Created     : 10.05.2026
Description : Paginated list of creatives assigned to a specific
              screen within a campaign. Grouped by PlayDate.
=====================================================================

DECLARE @Json NVARCHAR(MAX) = N'{
    "CampaignId": 1,
    "ScreenId":   1,
    "Offset":     0,
    "PageSize":   10,
    "Filter": {
        "PlayDate": null
    }
}'
EXEC dbo.SpCampaignCreativeSel @Json;

*/
CREATE PROCEDURE [dbo].[SpCampaignCreativeSel]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE
            @CampaignId INT  = TRY_CAST(JSON_VALUE(@Json, '$.CampaignId')     AS INT),
            @ScreenId   INT  = TRY_CAST(JSON_VALUE(@Json, '$.ScreenId')       AS INT),
            @Offset     INT  = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.Offset')  AS INT), 0),
            @PageSize   INT  = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.PageSize')AS INT), 10),
            @PlayDate   DATE = TRY_CAST(JSON_VALUE(@Json, '$.Filter.PlayDate') AS DATE),
            @DataJson   NVARCHAR(MAX),
            @TotalCount INT;

        --  Staging 
        CREATE TABLE #CreativeGrid
        (
                CampaignCreativeId INT,
                CreativeId         INT,
                CreativeName       NVARCHAR(200),
                IsVideo            BIT,
                Extension          NVARCHAR(10),
                PlayDate           DATE,
                PlaySequence       INT,
                CreatedAt          DATETIME2
        );

        INSERT INTO #CreativeGrid
        (
            CampaignCreativeId,
            CreativeId,
            CreativeName,
            IsVideo,
            Extension,
            PlayDate,
            PlaySequence,
            CreatedAt
        )
        SELECT
            cc.Id,
            cr.Id,
            cr.[Name],
            cr.IsVideo,
            cr.Extension,
            cc.PlayDate,
            cc.PlaySequence,
            cc.CreatedAt
        FROM dbo.CampaignCreative AS cc
        JOIN dbo.Creative         AS cr ON cr.Id = cc.CreativeId
                                       AND cr.IsDeleted = 0
        WHERE cc.CampaignId = @CampaignId
          AND cc.ScreenId   = @ScreenId
          AND cc.IsDeleted  = 0
          AND (@PlayDate    IS NULL OR cc.PlayDate = @PlayDate);

        
        SELECT @TotalCount = COUNT(1) FROM #CreativeGrid;

        -- Paginate 
        SELECT @DataJson = ISNULL(
        (
            SELECT *
            FROM #CreativeGrid
            ORDER BY PlayDate ASC, PlaySequence ASC
            OFFSET @Offset ROWS
            FETCH NEXT @PageSize ROWS ONLY
            FOR JSON PATH
        ), '[]');

        -- Return 
        SELECT ISNULL(
        (
            SELECT JSON_QUERY(@DataJson) AS [Data],
                   @TotalCount           AS [TotalCount]
            FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
        ), '{}');

        DROP TABLE IF EXISTS #CreativeGrid;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpCampaignDetailSel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=====================================================================
Author      : Manish
Created     : 10.05.2026
Description : Single campaign detail with its screens and date ranges.
=====================================================================

DECLARE @Json NVARCHAR(MAX) = N'{
    "CampaignId": 1,
    "TenantId":   1
}'
EXEC dbo.SpCampaignDetailSel @Json;

*/

CREATE PROCEDURE [dbo].[SpCampaignDetailSel]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE
            @CampaignId INT = TRY_CAST(JSON_VALUE(@Json, '$.CampaignId') AS INT),
            @TenantId   INT = TRY_CAST(JSON_VALUE(@Json, '$.TenantId')   AS INT);

        SELECT ISNULL(
        (
            SELECT
                c.Id,
                c.[Name],
                c.Remarks,
                c.[Status],
                c.DurationInDays,
                c.CreatedAt,
                c.CreatedBy,

                -- Screens
                (
                    SELECT
                        cs.ScreenId,
                        s.[Name]     AS ScreenName,
                        s.[Location] AS Location
                    FROM dbo.CampaignScreen AS cs
                    JOIN inv.Screen         AS s ON s.Id = cs.ScreenId
                                                AND s.IsDeleted = 0
                    WHERE cs.CampaignId = c.Id
                    FOR JSON PATH
                ) AS Screens,

                -- Dates
                (
                    SELECT
                        d.Id AS CampaignDateId,
                        d.StartDate,
                        d.EndDate
                    FROM dbo.CampaignDate AS d
                    WHERE d.CampaignId = c.Id
                    FOR JSON PATH
                ) AS Dates,

                -- Creatives
                (
                    SELECT
                        cc.Id           AS Id,
                        cc.CampaignId   AS CampaignId,
                        cc.ScreenId     AS ScreenId,
                        cc.CreativeId   AS CreativeId,
                        cc.PlayDate     AS PlayDate,
                        cc.PlaySequence AS PlaySequence,
                        cr.[Name]       AS CreativeName,
                        cr.Url          AS CreativeUrl,
                        cr.IsVideo      AS IsVideo
                    FROM dbo.CampaignCreative AS cc
                    JOIN dbo.Creative         AS cr ON cr.Id = cc.CreativeId
                                                   AND cr.IsDeleted = 0
                    WHERE cc.CampaignId = c.Id
                      AND cc.IsDeleted  = 0
                    ORDER BY cc.ScreenId, cc.PlayDate, cc.PlaySequence
                    FOR JSON PATH
                ) AS Creatives

            FROM dbo.Campaign AS c
            WHERE c.Id        = @CampaignId
              AND c.TenantId  = @TenantId
              AND c.IsDeleted = 0
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        ), '{}');

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpCampaignIns]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=====================================================================
Description : Step 1 of campaign creation wizard.
              Creates a campaign header, its date ranges, and screen
              assignments in a single atomic transaction.
              Status is set to 0 (Draft) on creation.
              DurationInDays is the sum of all valid date ranges.
              If no valid active screens are found the transaction
              is rolled back.
Author      : Manish
Created     : 07.05.2026
=====================================================================

DECLARE @Json NVARCHAR(MAX) = N'{
    "TenantId":  1,
    "Name":      "Summer Campaign 2026",
    "Remarks":   "Q3 outdoor push",
    "CreatedBy": 1,
    "Screens": [
        { "ScreenId": 1 },
        { "ScreenId": 2 }
    ],
    "Dates": [
        { "StartDate": "2026-06-01", "EndDate": "2026-06-15" },
        { "StartDate": "2026-07-01", "EndDate": "2026-07-31" }
    ]
}';

EXEC dbo.SpCampaignIns @Json = @Json OUT;
SELECT @Json;

*/
CREATE   PROCEDURE [dbo].[SpCampaignIns]
(
    @Json NVARCHAR(MAX) OUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        
        -- TEMP TABLE
        CREATE TABLE #Campaign
        (
            TenantId  INT            NOT NULL,
            Name      NVARCHAR(150)  NOT NULL,
            Remarks   NVARCHAR(250)  NULL,
            CreatedBy INT            NOT NULL,
            Screens   NVARCHAR(MAX)  NULL,
            Dates     NVARCHAR(MAX)  NULL,
            TotalDays INT            NOT NULL
        );

        CREATE TABLE #Inserted
        (
            Id INT NOT NULL
        );

        CREATE TABLE #InsertedDates
        (
            Id        INT       NOT NULL,
            StartDate DATETIME2 NOT NULL,
            EndDate   DATETIME2 NOT NULL
        );

        
        --  Shred JSON into staging
        
        INSERT INTO #Campaign
        (
            TenantId,
            Name,
            Remarks,
            CreatedBy,
            Screens,
            Dates,
            TotalDays
        )
        SELECT oj.TenantId,
               oj.Name,
               oj.Remarks,
               oj.CreatedBy,
               oj.Screens,
               oj.Dates,
               d.TotalDays
        FROM OPENJSON(@Json)
        WITH
        (
            TenantId  INT           '$.TenantId',
            Name      NVARCHAR(150) '$.Name',
            Remarks   NVARCHAR(250) '$.Remarks',
            CreatedBy INT           '$.CreatedBy',
            Screens   NVARCHAR(MAX) '$.Screens' AS JSON,
            Dates     NVARCHAR(MAX) '$.Dates'   AS JSON
        ) AS oj
        CROSS APPLY
        (
            SELECT SUM(DATEDIFF(DAY, TRY_CAST(StartDate AS DATETIME2), TRY_CAST(EndDate AS DATETIME2)) + 1) AS TotalDays
            FROM OPENJSON(oj.Dates)
            WITH
            (
                StartDate NVARCHAR(50) '$.StartDate',
                EndDate   NVARCHAR(50) '$.EndDate'
            )
            WHERE TRY_CAST(StartDate AS DATETIME2) IS NOT NULL
              AND TRY_CAST(EndDate   AS DATETIME2) IS NOT NULL
              AND TRY_CAST(StartDate AS DATETIME2) <= TRY_CAST(EndDate AS DATETIME2)
        ) AS d;

        
        --  Validate
        
        IF NOT EXISTS (SELECT 1 FROM #Campaign WHERE TotalDays > 0)
            THROW 50400, 'Invalid payload: no valid date ranges found.', 1;

        
        -- STEP 3: Insert campaign header
        
        INSERT INTO dbo.Campaign
        (
            TenantId,
            Name,
            DurationInDays,
            Status,
            Remarks,
            CreatedBy,
            CreatedAt
        )
        OUTPUT INSERTED.Id INTO #Inserted (Id)
        SELECT TenantId,
               Name,
               TotalDays,
               0, /* Draft */
               Remarks,
               CreatedBy,
               GETUTCDATE()
        FROM #Campaign;

        
        --  Insert dates
        
        INSERT INTO dbo.CampaignDate
        (
            CampaignId,
            StartDate,
            EndDate
        )
        OUTPUT INSERTED.Id,
               INSERTED.StartDate,
               INSERTED.EndDate
        INTO #InsertedDates (Id, StartDate, EndDate)
        SELECT i.Id,
               TRY_CAST(ca.StartDate AS DATETIME2),
               TRY_CAST(ca.EndDate   AS DATETIME2)
        FROM #Campaign AS tc
        JOIN #Inserted AS i ON 1 = 1
        CROSS APPLY OPENJSON(tc.Dates)
        WITH
        (
            StartDate NVARCHAR(50) '$.StartDate',
            EndDate   NVARCHAR(50) '$.EndDate'
        ) AS ca
        WHERE TRY_CAST(ca.StartDate AS DATETIME2) IS NOT NULL
          AND TRY_CAST(ca.EndDate   AS DATETIME2) IS NOT NULL
          AND TRY_CAST(ca.StartDate AS DATETIME2) <= TRY_CAST(ca.EndDate AS DATETIME2);

        
        -- STEP 5: Insert screens
        
        INSERT INTO dbo.CampaignScreen
        (
            CampaignId,
            ScreenId
        )
        SELECT DISTINCT i.Id,
               s.Id
        FROM #Campaign AS tc
        JOIN #Inserted AS i ON 1 = 1
        CROSS APPLY OPENJSON(tc.Screens)
        WITH
        (
            ScreenId INT '$.ScreenId'
        ) AS js
        JOIN inv.Screen AS s
            ON  s.Id        = js.ScreenId
            AND s.TenantId  = tc.TenantId
            AND s.IsDeleted = 0
            AND s.Status    = 'active';

        
        -- Validate screens were assigned
    
        IF NOT EXISTS (SELECT 1 FROM dbo.CampaignScreen WHERE CampaignId = (SELECT Id FROM #Inserted))
            THROW 50402, 'No valid active screens found for this campaign.', 1;

        COMMIT TRANSACTION;

        -- Return output JSON
        SELECT @Json = ISNULL((
            SELECT c.Id,
                   c.Name,
                   c.DurationInDays,
                   c.Status,
                   c.Remarks,
                   c.CreatedBy,
                   c.CreatedAt,
                   (
                       SELECT d.Id,
                              d.StartDate,
                              d.EndDate
                       FROM #InsertedDates AS d
                       WHERE EXISTS (SELECT 1 FROM dbo.CampaignDate AS cd WHERE cd.Id = d.Id AND cd.CampaignId = c.Id)
                       FOR JSON PATH
                   ) AS Dates,
                   (
                       SELECT s.Id       AS ScreenId,
                              s.Name     AS ScreenName
                       FROM dbo.CampaignScreen AS cs
                       JOIN inv.Screen         AS s ON s.Id = cs.ScreenId
                       WHERE cs.CampaignId = c.Id
                       FOR JSON PATH
                   ) AS Screens
            FROM dbo.Campaign AS c
            JOIN #Inserted    AS i ON i.Id = c.Id
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        ), '{}');

        DROP TABLE IF EXISTS #Campaign, #Inserted, #InsertedDates;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpCampaignSel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=====================================================================
Author      : Manish
Created     : 10.05.2026
Description : Paginated Campaign grid with optional filters and search.
=====================================================================

DECLARE @Json NVARCHAR(MAX) = N'{
    "TenantId":  1,
    "Offset":    0,
    "PageSize":  10,
    "SortBy":    "name",
    "SortOrder": "asc",
    "Filter": {
        "Status":     null,
        "SearchText": null
    }
}'
EXEC dbo.SpCampaignSel @Json;

*/
CREATE PROCEDURE [dbo].[SpCampaignSel]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE
            @TenantId   INT           = TRY_CAST(JSON_VALUE(@Json, '$.TenantId')        AS INT),
            @Offset     INT           = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.Offset')   AS INT), 0),
            @PageSize   INT           = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.PageSize') AS INT), 10),
            @Status     INT           = TRY_CAST(JSON_VALUE(@Json, '$.Filter.Status')   AS INT),
            @SearchText NVARCHAR(100) = JSON_VALUE(@Json, '$.Filter.SearchText'),
            @SortBy     NVARCHAR(50)  = ISNULL(JSON_VALUE(@Json, '$.SortBy'),    'CreatedAt'),
            @SortOrder  NVARCHAR(4)   = ISNULL(JSON_VALUE(@Json, '$.SortOrder'), 'DESC'),
            @DataJson   NVARCHAR(MAX),
            @TotalCount INT,
            @SQL        NVARCHAR(MAX);

        CREATE TABLE #CampaignGrid
        (
            Id             INT,
            [Name]         NVARCHAR(150),
            Remarks        NVARCHAR(250),
            [Status]       INT,
            DurationInDays INT,
            CreatedAt      DATETIME2,
            CreatedBy      INT
        );

        INSERT INTO #CampaignGrid
        (
            Id,
            [Name],
            Remarks,
            [Status],
            DurationInDays,
            CreatedAt,
            CreatedBy
        )
        SELECT
            c.Id,
            c.[Name],
            c.Remarks,
            c.[Status],
            c.DurationInDays,
            c.CreatedAt,
            c.CreatedBy
        FROM dbo.Campaign AS c
        WHERE c.IsDeleted  = 0
          AND c.TenantId   = @TenantId
          AND (@Status     IS NULL OR c.[Status] = @Status)
          AND (@SearchText IS NULL OR c.[Name]   LIKE '%' + @SearchText + '%'
                                   OR c.Remarks  LIKE '%' + @SearchText + '%');

        SELECT @TotalCount = COUNT(1) FROM #CampaignGrid;

        -- Whitelist sort column
        SET @SortBy = CASE @SortBy
            WHEN 'name'           THEN 'Name'
            WHEN 'remarks'        THEN 'Remarks'
            WHEN 'status'         THEN 'Status'
            WHEN 'durationInDays' THEN 'DurationInDays'
            WHEN 'createdAt'      THEN 'CreatedAt'
            ELSE 'CreatedAt'
        END;
        SET @SortOrder = CASE WHEN LOWER(@SortOrder) = 'asc' THEN 'ASC' ELSE 'DESC' END;

        SET @SQL = N'
            SELECT @DataJson = ISNULL((
                SELECT *
                FROM #CampaignGrid
                ORDER BY [' + @SortBy + '] ' + @SortOrder + '
                OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS
                FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY
                FOR JSON PATH
            ), ''[]'')';

        EXEC sp_executesql @SQL, N'@DataJson NVARCHAR(MAX) OUTPUT', @DataJson OUTPUT;

        SELECT ISNULL(
        (
            SELECT JSON_QUERY(@DataJson) AS [Data],
                   @TotalCount           AS [TotalCount]
            FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
        ), '{}');

        DROP TABLE IF EXISTS #CampaignGrid;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpCreativeDdl]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=====================================================================
Description : Screen dropdown list filtered by tenant.
Author      : Manish
Created     : 11.05.2026
=====================================================================

DECLARE @Json NVARCHAR(MAX) = N'{
    "TenantId": 1
}'
EXEC dbo.SpCreativeDdl @Json;

*/

CREATE   PROCEDURE [dbo].[SpCreativeDdl](
@Json NVARCHAR(MAX)
)
AS
	BEGIN 
	SET NOCOUNT ON

	BEGIN TRY 

	DECLARE @TenantId INT = TRY_CAST(JSON_VALUE(@Json,'$.TenantId') AS INT)
	SELECT ISNULL((
            SELECT c.Id,
                   c.[Name],
                   c.[Url],
                   c.IsVideo
            FROM dbo.Creative AS c
            WHERE c.TenantId  = @TenantId
              AND c.IsDeleted = 0
             
            ORDER BY c.Name ASC
            FOR JSON PATH
        ), '[]');

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpCreativeDel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Manish
-- Create date: 14.05.2026
-- Description: Soft delete a Creative.
--              Verifies the deleting user belongs to the same
--              tenant as the creative before proceeding.
-- =============================================
/*
DECLARE @Json NVARCHAR(MAX) = N'{
                                    "Id":        1,
                                    "DeletedBy": 1
                                }'
EXEC dbo.SpCreativeDel @Json OUTPUT;
SELECT @Json;
*/
-- =============================================
CREATE PROCEDURE [dbo].[SpCreativeDel]
(
    @Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE
            @Id        INT = TRY_CAST(JSON_VALUE(@Json, '$.Id')        AS INT),
            @DeletedBy INT = TRY_CAST(JSON_VALUE(@Json, '$.DeletedBy') AS INT);

        -- Verify user belongs to same tenant as creative
        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.Creative  AS c
            INNER JOIN core.[User] AS u ON u.TenantId = c.TenantId
            WHERE c.Id        = @Id
              AND u.Id        = @DeletedBy
              AND c.IsDeleted = 0
              AND u.IsDeleted = 0
        )
        BEGIN
            ROLLBACK TRANSACTION;
            THROW 50404, 'Creative not found or has been deleted.', 1;
        END

        -- Soft delete the creative
        UPDATE dbo.Creative
        SET
            IsDeleted = 1,
            DeletedAt = GETUTCDATE(),
            DeletedBy = @DeletedBy
        WHERE Id        = @Id
          AND IsDeleted = 0;

        COMMIT TRANSACTION;
        SET @Json = '{"Message":"Creative deleted successfully"}';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SpScreenDdlSel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
-- =====================================================================
Author      : Manish
Created     : 11.05.2026
Description : Screen dropdown list filtered by tenant.
              Optionally filters to only screens assigned to a
              specific campaign.

-- =====================================================================


DECLARE @Json NVARCHAR(MAX) = N'{
    "TenantId":   1,
    "CampaignId": 4
}'
EXEC dbo.SpScreenDdlSel @Json;

*/
CREATE   PROCEDURE [dbo].[SpScreenDdlSel]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE
            @TenantId   INT = TRY_CAST(JSON_VALUE(@Json, '$.TenantId')   AS INT),
            @CampaignId INT = TRY_CAST(JSON_VALUE(@Json, '$.CampaignId') AS INT);

        SELECT ISNULL((
            SELECT s.Id,
                   s.Name
            FROM inv.Screen AS s
            WHERE s.TenantId  = @TenantId
              AND s.IsDeleted = 0
              AND s.Status    = 'active'
              AND (
                    @CampaignId IS NULL
                    OR EXISTS (
                        SELECT 1
                        FROM dbo.CampaignScreen AS cs
                        WHERE cs.CampaignId = @CampaignId
                          AND cs.ScreenId   = s.Id
                    )
              )
            ORDER BY s.Name ASC
            FOR JSON PATH
        ), '[]');

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpCreativeDel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Manish
-- Create date: 27.04.2026
-- Description: Soft-delete a Creative.
-- Input  : { Id, TenantId, DeletedBy }
-- Output : Deleted Creative record as JSON
/*
DECLARE @Json NVARCHAR(MAX) = N'{
    "Id":        1,
    "TenantId":  1,
    "DeletedBy": 1
}'
EXEC inv.SpCreativeDel @Json OUTPUT;
SELECT @Json AS JsonOutput;
*/
-- =============================================
CREATE     PROCEDURE [inv].[SpCreativeDel]
(
    @Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

BEGIN TRY
    BEGIN TRANSACTION;

    CREATE TABLE #Inserted (Id INT);

    CREATE TABLE #Creative
    (
        Id          INT     NOT NULL,
        TenantId    INT     NOT NULL,
        DeletedBy   INT     NOT NULL
    );

    INSERT INTO #Creative (
                            Id,
                            TenantId,
                            DeletedBy
                            )
    SELECT  oj.Id,
            oj.TenantId,
            oj.DeletedBy
   
    FROM OPENJSON(@Json)
    WITH (
        Id          INT '$.Id',
        TenantId    INT '$.TenantId',
        DeletedBy   INT '$.DeletedBy'
    ) AS oj;

    -- Tenant check: must exist, not deleted, and belong to same tenant
    IF NOT EXISTS
    (
        SELECT 1
        FROM  dbo.Creative AS c
        INNER JOIN #Creative AS tc ON c.Id = tc.Id
        WHERE c.IsDeleted = 0
          AND c.TenantId  = tc.TenantId
    )
    BEGIN
        ROLLBACK TRANSACTION;
        SET @Json = '{"Type":"NotFound","Message":"Creative not found or has been deleted"}';
        RETURN;
    END

    UPDATE c
    SET
        c.IsDeleted = 1,
        c.DeletedAt = GETUTCDATE(),
        c.DeletedBy = tc.DeletedBy
    OUTPUT INSERTED.Id INTO #Inserted(Id)
    FROM dbo.Creative AS c
    INNER JOIN #Creative AS tc ON c.Id = tc.Id
    WHERE c.IsDeleted = 0
      AND c.TenantId  = tc.TenantId;

    COMMIT TRANSACTION;

    SET @Json = ISNULL(
        (
            SELECT
                c.Id,
                c.TenantId,
                c.[Name],
                c.[Url],
                c.IsVideo,
                c.Extension,
                c.Resolution,
                c.Orientation,
                c.DurationSecond,
                c.CreatedAt,
                c.CreatedBy,
                c.IsDeleted,
                c.DeletedAt,
                c.DeletedBy
            FROM dbo.Creative AS c
            INNER JOIN #Inserted AS i ON c.Id = i.Id
            FOR JSON PATH, INCLUDE_NULL_VALUES
        ),
        '[]'
    );

    DROP TABLE IF EXISTS #Inserted;
    DROP TABLE IF EXISTS #Creative;

END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
    THROW;
END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpCreativeIns]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Manish
-- Create date: 27.04.2026
-- Description: Insert a new Creative.
-- =============================================

/*

DECLARE @Json NVARCHAR(MAX) = N'{
                                    "TenantId":       1,
                                    "Name":           "Summer Banner",
                                    "Url":            "https://cdn.example.com/summer-banner.mp4",
                                    "IsVideo":        true,
                                    "Extension":      "mp4",
                                    "Resolution":     "1920x1080",
                                    "Orientation":    "landscape",
                                    "DurationSecond": 30,
                                    "CreatedBy":      1
                                }'

EXEC inv.SpCreativeIns @Json OUTPUT;

SELECT @Json;

*/
-- =============================================
CREATE     PROCEDURE [inv].[SpCreativeIns]
(
    @Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

BEGIN TRY
    BEGIN TRANSACTION;

    CREATE TABLE #Inserted (Id INT);

    CREATE TABLE #Creative
    (
        TenantId        INT             NOT NULL,
        [Name]          NVARCHAR(200)   NOT NULL,
        [Url]           NVARCHAR(1000)  NOT NULL,
        IsVideo         BIT             NOT NULL,
        Extension       NVARCHAR(10)    NOT NULL,
        Resolution      NVARCHAR(50)    NULL,
        Orientation     NVARCHAR(20)    NOT NULL,
        DurationSecond  INT             NULL,
        CreatedBy       INT             NOT NULL
    );

    INSERT INTO #Creative
    (
        TenantId,
        [Name],
        [Url],
        IsVideo,
        Extension,
        Resolution,
        Orientation,
        DurationSecond,
        CreatedBy
    )
    SELECT
        oj.TenantId, 
        oj.[Name],
        oj.[Url], 
        oj.IsVideo,
        oj.Extension,
        oj.Resolution,
        oj.Orientation,
        oj.DurationSecond,
        oj.CreatedBy
    FROM OPENJSON(@Json)
    WITH (
        TenantId        INT             '$.TenantId',
        [Name]          NVARCHAR(200)   '$.Name',
        [Url]           NVARCHAR(1000)  '$.Url',
        IsVideo         BIT             '$.IsVideo',
        Extension       NVARCHAR(10)    '$.Extension',
        Resolution      NVARCHAR(50)    '$.Resolution',
        Orientation     NVARCHAR(20)    '$.Orientation',
        DurationSecond  INT             '$.DurationSecond',
        CreatedBy       INT             '$.CreatedBy'
    ) AS oj;

    INSERT INTO dbo.Creative
    (
        TenantId,
        [Name], 
        [Url],
        IsVideo,
        Extension,
        Resolution,
        Orientation,
        DurationSecond, 
        CreatedAt,
        CreatedBy
    )
    OUTPUT INSERTED.Id INTO #Inserted(Id)
    SELECT
        TenantId,
        [Name],
        [Url],
        IsVideo,
        Extension,
        Resolution,
        Orientation,
        DurationSecond, 
        GETUTCDATE(),
        CreatedBy
    FROM #Creative;

  

    SET @Json = ISNULL(
        (
            SELECT
                c.Id,
                c.TenantId,
                c.[Name],
                c.[Url],
                c.IsVideo,
                c.Extension,
                c.Resolution,
                c.Orientation,
                c.DurationSecond,
                c.CreatedAt,
                c.CreatedBy
            FROM dbo.Creative AS c
                INNER JOIN #Inserted AS i ON c.Id = i.Id
            FOR JSON PATH, INCLUDE_NULL_VALUES
        ),
        '[]'
    );

    DROP TABLE IF EXISTS #Inserted,#Creative;
      COMMIT TRANSACTION;
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
    THROW;
END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpCreativeSel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Manish
-- Create date: 27.04.2026
-- Description: Paginated Creative grid with optional filters and search.
-- Input  : { TenantId, Offset, PageSize, Filter: { IsVideo, Orientation, SearchText } }
-- Output : { Data: [...], TotalCount: N }
-- =============================================


                        /*
                        DECLARE @Json NVARCHAR(MAX) = N'{
                            "TenantId": 1,
                            "Offset":   0,
                            "PageSize": 10,
                            "Filter": {
                                "IsVideo":     null,
                                "Orientation": null,
                                "SearchText":  "banner"
                            }
                        }'
                        EXEC inv.SpCreativeSel @Json;
                        */

 CREATE     PROCEDURE [inv].[SpCreativeSel]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

BEGIN TRY
    DECLARE
        @TenantId    INT           = TRY_CAST(JSON_VALUE(@Json, '$.TenantId')           AS INT),
        @Offset      INT           = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.Offset')      AS INT), 0),
        @PageSize    INT           = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.PageSize')    AS INT), 10),
        @IsVideo     BIT           = TRY_CAST(JSON_VALUE(@Json, '$.Filter.IsVideo')     AS BIT),
        @Orientation NVARCHAR(20)  = JSON_VALUE(@Json, '$.Filter.Orientation'),
        @SearchText  NVARCHAR(100) = JSON_VALUE(@Json, '$.Filter.SearchText'),
        @DataJson    NVARCHAR(MAX),
        @TotalCount  INT;

    CREATE TABLE #CreativeGrid
    (
        Id              INT,
        TenantId        INT,
        [Name]          NVARCHAR(200),
        [Url]           NVARCHAR(1000),
        IsVideo         BIT,
        Extension       NVARCHAR(10),
        Resolution      NVARCHAR(50),
        Orientation     NVARCHAR(20),
        DurationSecond  INT,
        CreatedAt       DATETIME2,
        CreatedBy       INT
    );

    INSERT INTO #CreativeGrid
    (
        Id,
        TenantId,
        [Name],
        [Url],
        IsVideo,
        Extension,
        Resolution, 
        Orientation,
        DurationSecond,
        CreatedAt,
        CreatedBy
    )
    SELECT
        c.Id,
        c.TenantId,
        c.[Name],
        c.[Url],
        c.IsVideo,
        c.Extension,
        c.Resolution,
        c.Orientation,
        c.DurationSecond,
        c.CreatedAt,
        c.CreatedBy
    FROM dbo.Creative AS c
    WHERE c.IsDeleted   = 0
      AND c.TenantId    = @TenantId                                         
      AND (@IsVideo     IS NULL OR c.IsVideo     = @IsVideo)
      AND (@Orientation IS NULL OR c.Orientation = @Orientation)
      AND (@SearchText  IS NULL OR c.[Name]      LIKE '%' + @SearchText + '%'
                                OR c.Extension   LIKE '%' + @SearchText + '%');

    SELECT @TotalCount = COUNT(*) FROM #CreativeGrid;

    SET @DataJson =
    (
        SELECT *
        FROM #CreativeGrid
        ORDER BY CreatedAt DESC
        OFFSET @Offset ROWS
        FETCH NEXT @PageSize ROWS ONLY
        FOR JSON PATH
    );

    SELECT '{"Data":' + ISNULL(@DataJson, '[]') + ',"TotalCount":' + CAST(@TotalCount AS NVARCHAR(10)) + '}';

    DROP TABLE IF EXISTS #CreativeGrid;

END TRY
BEGIN CATCH
    THROW;
END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenDdl]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=====================================================================
Description : Screen dropdown list filtered by tenant.
Author      : Manish
Created     : 11.05.2026
=====================================================================

                            DECLARE @Json NVARCHAR(MAX) = N'{
                                "TenantId": 1
                            }'
                            EXEC inv.SpScreenDdl @Json;

                            */

CREATE   PROCEDURE [inv].[SpScreenDdl]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE @TenantId INT = TRY_CAST(JSON_VALUE(@Json, '$.TenantId') AS INT);

        SELECT ISNULL((
            SELECT s.Id,
                   s.Name
            FROM inv.Screen AS s
            WHERE s.TenantId  = @TenantId
              AND s.IsDeleted = 0
              AND s.Status    = 'active'
            ORDER BY s.Name ASC
            FOR JSON PATH
        ), '[]');

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenDel]    Script Date: 5/14/2026 9:18:10 PM ******/
-- =============================================
-- Author:      Manish
-- Create date: 28.04.2026
-- Description: Soft delete a Screen and cascade soft delete
--              all its ScreenOperatingHour slots in one transaction.
-- =============================================

                            /*

                            DECLARE @Json NVARCHAR(MAX) = N'{
                                                                "Id":        1,
                                                                "DeletedBy": 1
                                                            }'

                            EXEC inv.SpScreenDel @Json OUTPUT;

                            SELECT @Json;

                            */

CREATE PROCEDURE [inv].[SpScreenDel]
(
    @Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE
            @Id        INT = TRY_CAST(JSON_VALUE(@Json, '$.Id')        AS INT),
            @DeletedBy INT = TRY_CAST(JSON_VALUE(@Json, '$.DeletedBy') AS INT);

        -- Verify user belongs to same tenant as screen
        IF NOT EXISTS
        (
            SELECT 1
            FROM inv.Screen AS s
            INNER JOIN core.[User] AS u ON u.TenantId = s.TenantId
            WHERE s.Id        = @Id
              AND u.Id        = @DeletedBy
              AND s.IsDeleted = 0
              AND u.IsDeleted = 0
        )
        BEGIN
            ROLLBACK TRANSACTION;
            THROW 50404, 'Screen not found or has been deleted.', 1;
        END

        -- Cascade soft delete for operating hour slots
        UPDATE inv.ScreenOperatingHour
        SET
            IsDeleted = 1,
            DeletedAt = GETUTCDATE(),
            DeletedBy = @DeletedBy
        WHERE ScreenId  = @Id
          AND IsDeleted = 0;

        -- Soft delete the screen
        UPDATE inv.Screen
        SET
            IsDeleted = 1,
            DeletedAt = GETUTCDATE(),
            DeletedBy = @DeletedBy
        WHERE Id        = @Id
          AND IsDeleted = 0;

        COMMIT TRANSACTION;

        SET @Json = '{"Message":"Screen and its operating hours deleted successfully"}';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenDtlSel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    -- =============================================
    -- Author:      
    -- Create date: 14.05.2026
    -- Description: Get full detail for a single Screen — info, campaigns, and operating hours.
    -- Input  : { ScreenId, TenantId }
    -- Output : @Json — single object with nested Campaigns[] and OperatingHours[]

    -- =============================================


                        /*
                        DECLARE @Json NVARCHAR(MAX) = N'{
                            "ScreenId": 2,
                            "TenantId": 1
                        }'
                        EXEC inv.SpScreenDtlSel @Json OUTPUT;
                        SELECT @Json
                        */


CREATE   PROCEDURE [inv].[SpScreenDtlSel]
(
    @Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

BEGIN TRY

    DECLARE
        @ScreenId INT = TRY_CAST(JSON_VALUE(@Json, '$.ScreenId') AS INT),
        @TenantId INT = TRY_CAST(JSON_VALUE(@Json, '$.TenantId') AS INT);

    IF NOT EXISTS
    (
        SELECT 1 FROM inv.Screen
        WHERE Id        = @ScreenId
          AND TenantId  = @TenantId
          AND IsDeleted = 0
    )
        THROW 50404, 'Screen not found or has been deleted.', 1;

    SET @Json = (
        SELECT
            s.Id,
            s.Name,
            s.Location,
            s.Address,
            s.Status,
            s.Resolution,
            s.Orientation,
            s.MacAddress,
            s.CreatedAt,

            ISNULL(
            (
                SELECT
                    c.Id,
                    c.Name,
                    c.Status,
                    c.DurationInDays,
                    c.Remarks,
                    c.CreatedAt,
                    cd.StartDate,
                    cd.EndDate
                FROM  dbo.CampaignScreen   cs
                JOIN  dbo.Campaign         c  ON  c.Id = cs.CampaignId
                                              AND c.IsDeleted = 0
                LEFT JOIN dbo.CampaignDate cd ON cd.CampaignId = c.Id
                WHERE cs.ScreenId = s.Id
                ORDER BY c.CreatedAt DESC
                FOR JSON PATH, INCLUDE_NULL_VALUES
            ), '[]') AS Campaigns,

            ISNULL(
            (
                SELECT
                    oh.Id,
                    oh.DayOfWeek,
                    CONVERT(VARCHAR(5), oh.StartTime, 108) AS StartTime,
                    CONVERT(VARCHAR(5), oh.EndTime,   108) AS EndTime,
                    oh.AverageAudienceCount
                FROM  inv.ScreenOperatingHour oh
                WHERE oh.ScreenId  = s.Id
                  AND oh.IsDeleted = 0
                ORDER BY oh.DayOfWeek ASC, oh.StartTime ASC
                FOR JSON PATH, INCLUDE_NULL_VALUES
            ), '[]') AS OperatingHours

        FROM  inv.Screen s
        WHERE s.Id       = @ScreenId
          AND s.TenantId = @TenantId
          AND s.IsDeleted = 0
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );
    SELECT @Json; 
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
    THROW;
END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenGetDetail]    Script Date: 5/14/2026 9:18:10 PM ******/
    -- =============================================
    -- Author:      
    -- Create date: 14.05.2026
    -- Description: Get full detail for a single Screen — info, campaigns, and operating hours.
    -- Input  : { ScreenId, TenantId }
    -- Output : @Json — single object with nested Campaigns[] and OperatingHours[]

    -- =============================================


                        /*
                        DECLARE @Json NVARCHAR(MAX) = N'{
                            "ScreenId": 1,
                            "TenantId": 1
                        }'
                        EXEC inv.SpScreenGetDetail @Json OUTPUT;
                        */


CREATE   PROCEDURE [inv].[SpScreenGetDetail]
(
    @Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

BEGIN TRY

    DECLARE
        @ScreenId INT = TRY_CAST(JSON_VALUE(@Json, '$.ScreenId') AS INT),
        @TenantId INT = TRY_CAST(JSON_VALUE(@Json, '$.TenantId') AS INT);

    IF NOT EXISTS
    (
        SELECT 1 FROM inv.Screen
        WHERE Id        = @ScreenId
          AND TenantId  = @TenantId
          AND IsDeleted = 0
    )
        THROW 50404, 'Screen not found or has been deleted.', 1;

    SET @Json = (
        SELECT
            s.Id,
            s.Name,
            s.Location,
            s.Address,
            s.Status,
            s.Resolution,
            s.Orientation,
            s.MacAddress,
            s.CreatedAt,

            ISNULL(
            (
                SELECT
                    c.Id,
                    c.Name,
                    c.Status,
                    c.DurationInDays,
                    c.Remarks,
                    c.CreatedAt,
                    cd.StartDate,
                    cd.EndDate
                FROM  dbo.CampaignScreen   cs
                JOIN  dbo.Campaign         c  ON  c.Id = cs.CampaignId
                                              AND c.IsDeleted = 0
                LEFT JOIN dbo.CampaignDate cd ON cd.CampaignId = c.Id
                WHERE cs.ScreenId = s.Id
                ORDER BY c.CreatedAt DESC
                FOR JSON PATH, INCLUDE_NULL_VALUES
            ), '[]') AS Campaigns,

            ISNULL(
            (
                SELECT
                    oh.Id,
                    oh.DayOfWeek,
                    CONVERT(VARCHAR(5), oh.StartTime, 108) AS StartTime,
                    CONVERT(VARCHAR(5), oh.EndTime,   108) AS EndTime,
                    oh.AverageAudienceCount
                FROM  inv.ScreenOperatingHour oh
                WHERE oh.ScreenId  = s.Id
                  AND oh.IsDeleted = 0
                ORDER BY oh.DayOfWeek ASC, oh.StartTime ASC
                FOR JSON PATH, INCLUDE_NULL_VALUES
            ), '[]') AS OperatingHours

        FROM  inv.Screen s
        WHERE s.Id       = @ScreenId
          AND s.TenantId = @TenantId
          AND s.IsDeleted = 0
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );

END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
    THROW;
END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenOperatingHourDel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Manish
-- Create date: 24.04.2026
-- Description: Soft delete a single operating hour slot.
-- Input  : { Id, DeletedBy }
-- Output : Success message as JSON
-- =============================================
                          
                            /*
                            DECLARE @Json NVARCHAR(MAX) = N'{
                                "Id":        1,
                                "DeletedBy": 1
                            }'
                            EXEC inv.SpScreenOperatingHourDel @Json OUTPUT;
                            SELECT @Json AS JsonOutput;
                            */

CREATE   PROCEDURE [inv].[SpScreenOperatingHourDel]
(
    @Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE
            @Id        INT = TRY_CAST(JSON_VALUE(@Json, '$.Id')        AS INT),
            @DeletedBy INT = TRY_CAST(JSON_VALUE(@Json, '$.DeletedBy') AS INT);

        -- Check slot exists, not deleted, and belongs to same tenant as user
        IF NOT EXISTS
        (
            SELECT 1
            FROM inv.ScreenOperatingHour AS soh
            INNER JOIN inv.Screen AS s ON s.Id        = soh.ScreenId
            INNER JOIN core.[User] AS u ON u.TenantId = s.TenantId
            WHERE soh.Id      = @Id
              AND u.Id        = @DeletedBy
              AND soh.IsDeleted = 0
              AND s.IsDeleted   = 0
              AND u.IsDeleted   = 0
        )
        BEGIN
            ROLLBACK TRANSACTION;
            SET @Json = '{"Type":"NotFound","Message":"Slot not found or already deleted"}';
            RETURN;
        END

        -- Soft delete
        UPDATE inv.ScreenOperatingHour
        SET
            IsDeleted = 1,
            DeletedAt = GETUTCDATE(),
            DeletedBy = @DeletedBy
        WHERE Id        = @Id
          AND IsDeleted = 0;

        COMMIT TRANSACTION;

        SET @Json = '{"Type":"Success","Message":"Slot deleted successfully"}';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenOperatingHourIns]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	-- =============================================
	-- Author:      Manish
	-- Create date: 24.04.2026
	-- Description: Insert new operating hour slots for a Screen.
	--              Checks overlap against existing active slots in DB.
	-- Input  : [ { ScreenId, CreatedBy, DayOfWeek, StartTime, EndTime, AverageAudienceCount } ]
	-- Output : Newly inserted slots as JSON
	/*
	DECLARE @Json NVARCHAR(MAX) = N'[
	    {
	        "ScreenId":             1,
	        "CreatedBy":            1,
	        "DayOfWeek":            0,
	        "StartTime":            "2026-01-01T09:00:00",
	        "EndTime":              "2026-01-01T11:00:00",
	        "AverageAudienceCount": 80
	    },
	    {
	        "ScreenId":             1,
	        "CreatedBy":            1,
	        "DayOfWeek":            0,
	        "StartTime":            "2026-01-01T17:00:00",
	        "EndTime":              "2026-01-01T19:00:00",
	        "AverageAudienceCount": 120
	    }
	]'
	EXEC inv.SpScreenOperatingHourIns @Json OUTPUT;
	SELECT @Json AS JsonOutput;
	*/
	-- =============================================
	CREATE   PROCEDURE [inv].[SpScreenOperatingHourIns]
	(
	    @Json NVARCHAR(MAX) OUTPUT
	)
	AS
	BEGIN
	    SET NOCOUNT ON;
	
	    BEGIN TRY
	        BEGIN TRANSACTION;
	
	        CREATE TABLE #Inserted
	        (
	            Id INT NOT NULL
	        );
	
	        CREATE TABLE #ScreenOperatingHour
	        (
	            RowId                INT      IDENTITY(1,1),
	            ScreenId             INT      NOT NULL,
	            CreatedBy            INT      NOT NULL,
	            [DayOfWeek]          TINYINT  NOT NULL,
	            StartTime            DATETIME NOT NULL,
	            EndTime              DATETIME NOT NULL,
	            AverageAudienceCount INT      NULL
	        );
	
	        INSERT INTO #ScreenOperatingHour
	        (
	            ScreenId,
	            CreatedBy,
	            [DayOfWeek],
	            StartTime,
	            EndTime,
	            AverageAudienceCount
	        )
	        SELECT
	            oj.ScreenId,
	            oj.CreatedBy,
	            oj.[DayOfWeek],
	            oj.StartTime,
	            oj.EndTime,
	            oj.AverageAudienceCount
	        FROM OPENJSON(@Json)
	        WITH
	        (
	            ScreenId             INT,
	            CreatedBy            INT,
	            [DayOfWeek]          TINYINT,
	            StartTime            DATETIME,
	            EndTime              DATETIME,
	            AverageAudienceCount INT
	        ) AS oj
	
	        -- Validate screen exists and is not deleted
	       IF NOT EXISTS
					(
						SELECT 1
						FROM inv.Screen AS s
						INNER JOIN core.[User] AS u ON u.TenantId = s.TenantId
						INNER JOIN #ScreenOperatingHour AS ts ON ts.ScreenId = s.Id
						WHERE u.Id        = ts.CreatedBy
						  AND s.IsDeleted = 0
						  AND u.IsDeleted = 0
					)
					BEGIN
						ROLLBACK TRANSACTION;
						SET @Json = '{"Type":"NotFound","Message":"Screen not found or has been deleted"}';
						RETURN;
					END
	
	        -- Overlap check within incoming slots using RowId
	        IF EXISTS
	        (
	            SELECT 1
	            FROM #ScreenOperatingHour AS a
	            INNER JOIN #ScreenOperatingHour AS b
	                ON  a.ScreenId    = b.ScreenId 
					AND a.[DayOfWeek] = b.[DayOfWeek]
	                AND a.RowId     < b.RowId
	            WHERE a.StartTime < b.EndTime
	              AND a.EndTime   > b.StartTime
	        )
	        BEGIN
	            ROLLBACK TRANSACTION;
	            SET @Json = '{"Type":"Overlap","Message":"One or more incoming slots overlap each other"}';
	            RETURN;
	        END
	
	        -- Overlap check against existing active slots in DB
	        IF EXISTS
	        (
	            SELECT 1
	            FROM #ScreenOperatingHour AS ts
	            INNER JOIN inv.ScreenOperatingHour AS soh
	                ON  soh.ScreenId  = ts.ScreenId
	                AND soh.DayOfWeek = ts.DayOfWeek
	                AND soh.IsDeleted = 0
	            WHERE ts.StartTime < soh.EndTime
	              AND ts.EndTime   > soh.StartTime
	        )
	        BEGIN
	            ROLLBACK TRANSACTION;
	            SET @Json = '{"Type":"Overlap","Message":"One or more slots overlap with existing schedule"}';
	            RETURN;
	        END
	
	        -- Insert new slots
	        INSERT INTO inv.ScreenOperatingHour
	        (
	            ScreenId,
	            [DayOfWeek],
	            StartTime,
	            EndTime,
	            AverageAudienceCount,
	            CreatedAt,
	            CreatedBy
	        )
	        OUTPUT INSERTED.Id INTO #Inserted(Id)
	        SELECT
	            ScreenId,
	            [DayOfWeek],
	            StartTime,
	            EndTime,
	            AverageAudienceCount,
	            GETUTCDATE(),
	            CreatedBy
	        FROM #ScreenOperatingHour;
	
	        COMMIT TRANSACTION;
	
	        SET @Json = ISNULL(
	            (
	                SELECT
	                    soh.Id,
	                    soh.ScreenId,
	                    soh.[DayOfWeek],
	                    soh.StartTime,
	                    soh.EndTime,
	                    soh.AverageAudienceCount,
	                    soh.CreatedAt,
	                    soh.CreatedBy
	                FROM inv.ScreenOperatingHour AS soh
	                INNER JOIN #Inserted AS i ON soh.Id = i.Id
	                ORDER BY
	                    soh.[DayOfWeek] ASC,
	                    soh.StartTime ASC
	                FOR JSON PATH, INCLUDE_NULL_VALUES
	            ),
	            '[]'
	        );
	
	        DROP TABLE IF EXISTS #Inserted;
	        DROP TABLE IF EXISTS #ScreenOperatingHour;
	
	    END TRY
	    BEGIN CATCH
	        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
	        THROW;
	    END CATCH
	END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenOperatingHourSel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Manish
-- Create date: 24.04.2026
-- Description: Get all active operating hour slots for a Screen.
-- Input  : { ScreenId }
-- Output : JSON array of slots ordered by DayOfWeek, StartTime
/*
DECLARE @Json NVARCHAR(MAX) = N'{
    "ScreenId": 1
}'
EXEC inv.SpScreenOperatingHourSel @Json;
*/
-- =============================================
CREATE   PROCEDURE [inv].[SpScreenOperatingHourSel]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

BEGIN TRY

    DECLARE
        @ScreenId INT           = TRY_CAST(JSON_VALUE(@Json, '$.ScreenId') AS INT),
        @Result   NVARCHAR(MAX);

    IF NOT EXISTS
    (
        SELECT 1 FROM inv.Screen
        WHERE Id        = @ScreenId
          AND IsDeleted = 0
    )
    BEGIN
        SET @Result = '{"Type":"NotFound","Message":"Screen not found or has been deleted"}';
        SELECT @Result;
        RETURN;
    END

    SET @Result = ISNULL(
        (
            SELECT
                soh.Id,
                soh.ScreenId,
                soh.[DayOfWeek],
                soh.StartTime,
                soh.EndTime,
                soh.AverageAudienceCount,
                soh.CreatedAt,
                soh.CreatedBy
            FROM inv.ScreenOperatingHour AS soh
            WHERE soh.ScreenId  = @ScreenId
              AND soh.IsDeleted = 0
            ORDER BY
                soh.[DayOfWeek] ASC,
                soh.StartTime ASC
            FOR JSON PATH, INCLUDE_NULL_VALUES
        ),
        '[]'
    );

    SELECT @Result;

END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
    THROW;
END CATCH
END;

GO
/****** Object:  StoredProcedure [inv].[SpScreenSel]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
Author: Manish 
Create date: 24.04.2026
Description: Paginated Screen grid with optional filters and search.
=========================================================  
   

*/
-- =======================================================
                                            /*
                                            DECLARE @Json NVARCHAR(MAX) = N'{
                                                "Offset":   0,
                                                "PageSize": 10,
                                                "SortBy":   "name",
                                                "SortOrder":"asc",
                                                "Filter": {
                                                    "Status":      "active",
                                                    "Orientation": null,
                                                    "SearchText":  "mall"
                                                }
                                            }'
                                            EXEC inv.SpScreenSel @Json;
                                            */
                                            

CREATE PROCEDURE [inv].[SpScreenSel]
(
    @Json NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE
            @Offset      INT           = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.Offset')      AS INT), 0),
            @PageSize    INT           = ISNULL(TRY_CAST(JSON_VALUE(@Json, '$.PageSize')     AS INT), 10),
            @Status      NVARCHAR(20)  = JSON_VALUE(@Json, '$.Filter.Status'),
            @Orientation NVARCHAR(20)  = JSON_VALUE(@Json, '$.Filter.Orientation'),
            @SearchText  NVARCHAR(100) = JSON_VALUE(@Json, '$.Filter.SearchText'),
            @SortBy      NVARCHAR(50)  = ISNULL(JSON_VALUE(@Json, '$.SortBy'),    'CreatedAt'),
            @SortOrder   NVARCHAR(4)   = ISNULL(JSON_VALUE(@Json, '$.SortOrder'), 'DESC'),
            @DataJson    NVARCHAR(MAX),
            @TotalCount  INT,
            @SQL         NVARCHAR(MAX);

        CREATE TABLE #ScreenGrid
        (
            Id          INT,
            [Name]      NVARCHAR(200),
            MacAddress  NVARCHAR(17),
            [Location]  NVARCHAR(300),
            [Address]   NVARCHAR(500),
            [Status]    NVARCHAR(20),
            Resolution  NVARCHAR(50),
            Orientation NVARCHAR(20),
            CreatedAt   DATETIME2,
            CreatedBy   INT
        );

        INSERT INTO #ScreenGrid
        (
            Id,
            [Name],
            MacAddress,
            [Location],
            [Address],
            [Status],
            Resolution,
            Orientation,
            CreatedAt,
            CreatedBy
        )
        SELECT
            s.Id,
            s.[Name],
            s.MacAddress,
            s.[Location],
            s.[Address],
            s.[Status],
            s.Resolution,
            s.Orientation,
            s.CreatedAt,
            s.CreatedBy
        FROM inv.Screen AS s
        WHERE s.IsDeleted = 0
          AND (@Status      IS NULL OR s.[Status]    = @Status)
          AND (@Orientation IS NULL OR s.Orientation = @Orientation)
          AND (@SearchText  IS NULL OR s.[Name]      LIKE '%' + @SearchText + '%'
                                   OR s.[Location]   LIKE '%' + @SearchText + '%'
                                   OR s.MacAddress   LIKE '%' + @SearchText + '%');

        SELECT @TotalCount = COUNT(1) FROM #ScreenGrid;



        SET @SQL = N'
            SELECT @DataJson = ISNULL((
                SELECT *
                FROM #ScreenGrid
                ORDER BY [' + @SortBy + '] ' + @SortOrder + '
                OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS
                FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY
                FOR JSON PATH
            ), ''[]'')';

        EXEC sp_executesql @SQL, N'@DataJson NVARCHAR(MAX) OUTPUT', @DataJson OUTPUT;

        SELECT ISNULL(
            (
                SELECT  JSON_QUERY(@DataJson) AS [Data],
                        @TotalCount           AS [TotalCount]
                FOR JSON PATH, INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
            ),
            '{}'
        );

        DROP TABLE IF EXISTS #ScreenGrid;

    END TRY
    BEGIN CATCH
        SELECT @@ERROR;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [inv].[SpScreenTsk]    Script Date: 5/14/2026 9:18:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Manish
-- Create date: 24.04.2026
-- Description: Insert or Update a Screen.
--              Id null = Insert | Id present = Update
-- =============================================

/*

DECLARE @Json NVARCHAR(MAX) = N'{
                                    "Id":          null,
                                    "TenantId":    1,
                                    "Name":        "Mall Entrance Display",
                                    "MacAddress":  "AA:BB:CC:DD:EE:01",
                                    "Location":    "Kathmandu, New Road",
                                    "Address":     "Shop 4, New Road Center",
                                    "Status":      "active",
                                    "Resolution":  "1920x1080",
                                    "Orientation": "landscape",
                                    "CreatedBy":   1
                                }'

EXEC inv.SpScreenTsk @Json OUTPUT;

SELECT @Json;

*/
-- =============================================
CREATE   PROCEDURE [inv].[SpScreenTsk]
(
    @Json NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

BEGIN TRY
    BEGIN TRANSACTION;

    CREATE TABLE #Inserted (Id INT);

    CREATE TABLE #Screen
    (
        Id          INT             NULL,
        TenantId    INT             NOT NULL,
        [Name]      NVARCHAR(200)   NOT NULL,
        MacAddress  NVARCHAR(17)    NOT NULL,
        [Location]  NVARCHAR(300)   NOT NULL,
        [Address]   NVARCHAR(500)   NULL,
        [Status]    NVARCHAR(20)    NOT NULL,
        Resolution  NVARCHAR(50)    NULL,
        Orientation NVARCHAR(20)    NOT NULL,
        CreatedBy   INT             NULL,
        UpdatedBy   INT             NULL
    );

    INSERT INTO #Screen
    (
        Id,
        TenantId,
        [Name],
        MacAddress,
        [Location],
        [Address],
        [Status],
        Resolution,
        Orientation,
        CreatedBy,
        UpdatedBy
    )
     SELECT 
                    oj.Id,
                    oj.TenantId,
                    oj.[Name],
                    oj.MacAddress,
                    oj.[Location],
                    oj.[Address],   
                    oj.[Status],
                    oj.Resolution,
                    oj.Orientation,
                    oj.CreatedBy,
                    oj.UpdatedBy

            FROM OPENJSON(@Json)
            WITH(
            
                Id          INT             '$.Id',
                TenantId    INT             '$.TenantId',
                [Name]      NVARCHAR(200)   '$.Name',
                MacAddress  NVARCHAR(17)    '$.MacAddress',
                [Location]  NVARCHAR(300)   '$.Location',
                [Address]   NVARCHAR(500)   '$.Address',
                [Status]    NVARCHAR(20)    '$.Status',
                Resolution  NVARCHAR(50)    '$.Resolution',
                Orientation NVARCHAR(20)    '$.Orientation',
                CreatedBy   INT             '$.CreatedBy',
                UpdatedBy   INT             '$.UpdatedBy'
            )AS oj;

        INSERT INTO inv.Screen
        (
            TenantId,
            [Name],
            MacAddress,
            [Location],
            [Address],
            [Status],
            Resolution,
            Orientation,
            CreatedAt,
            CreatedBy
        )
        OUTPUT INSERTED.Id INTO #Inserted(Id)
        SELECT
            TenantId,
            [Name],
            MacAddress,
            [Location],
            [Address],
            [Status],
            Resolution,
            Orientation,
            GETUTCDATE(),
            CreatedBy
        FROM #Screen
        WHERE Id IS NULL;
  
        UPDATE s
        SET
            s.[Name]      = ts.[Name],
            s.MacAddress  = ts.MacAddress,
            s.[Location]  = ts.[Location],
            s.[Address]   = ts.[Address],
            s.[Status]    = ts.[Status],
            s.Resolution  = ts.Resolution,
            s.Orientation = ts.Orientation,
            s.UpdatedAt   = GETUTCDATE(),
            s.UpdatedBy   = ts.UpdatedBy

        OUTPUT INSERTED.Id INTO #Inserted(Id)
        FROM inv.Screen AS s
        INNER JOIN #Screen AS ts ON s.Id = ts.Id
        WHERE s.IsDeleted = 0
        AND s.TenantId = ts.TenantId;

    COMMIT TRANSACTION;

    SET @Json = ISNULL(
        (
            SELECT
                s.Id,
                s.TenantId,
                s.[Name],
                s.MacAddress,
                s.[Location],
                s.[Address],
                s.[Status],
                s.Resolution,
                s.Orientation,
                s.CreatedAt,
                s.CreatedBy,
                s.UpdatedAt,
                s.UpdatedBy
            FROM inv.Screen AS s
                INNER JOIN #Inserted AS a ON s.Id = a.Id
            FOR JSON PATH, INCLUDE_NULL_VALUES
        ),
        '[]'
    );

    DROP TABLE IF EXISTS #Inserted;
    DROP TABLE IF EXISTS #Screen;

END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
    THROW;
END CATCH
END;
GO
